In [6]:
for d in range(4):
    print(" "*(3-d),"*"*(2*d+1))

    *
   ***
  *****
 *******

In [14]:
for s in range(4):
    print(" "*(3-s),"*"*(2*s+1))
for d in range(3):
    print(" "*(d+1),"*"*(-1*(2*d-5)))

    *
   ***
  *****
 *******
  *****
   ***
    *

In [20]:
for e in range(4):
    print(" "*(e+1),"#"*(7-2*e))
for d in range(3):
    print(" "*(3-d),"#"*(3+2*d))

  #######
   #####
    ###
     #
    ###
   #####
  #######

In [22]:
for t in range(3):
    for e in range(2):
        print(t,e,sep="")

00
01
10
11
20
21

In [4]:
print("*"*5)
print()
for a in range(4):
    print(" "*(a+1),"*")

*****

  *
   *
    *
     *